<!-- Edition Screen html file -->

<div class="container">

  <a routerLink="/contest/{{id}}">&#60; {{con.name}}</a>

  <h1>{{con.name}} {{num}}</h1>
  <hr />

  <div class="infobox">
    <div class="infoboxheader">
      {{con.name}} {{num}}
      <br />
      <i>"{{edition.slogan}}"</i>
    </div>

    <img class="edlogo" src="./assets/logos/{{num}}.png">

    <div class="infoboxheader">Host</div>
    <div class="infoboxsection">
      <div *ngIf="edition.hostcountries.length === 1"><b>Host country</b></div>
      <div *ngIf="edition.hostcountries.length > 1"><b>Host countries</b></div>
      <div>
        <div *ngFor="let country of edition.hostcountries"><img class="flag" src="./assets/flags/{{country}} Flag.png">
          <a routerLink="/contest/{{id}}/country/{{country}}">{{country}}</a>
        </div>
      </div>
    </div>
    <div class="infoboxsection">
      <div><b>Host<ng-container *ngIf="edition.hostusers.length > 1">s</ng-container></b></div>
      <div>
        <div *ngFor="let host of edition.hostusers">
          <a routerLink="/contest/{{id}}/user/{{host}}">{{host}}</a>
        </div>
      </div>
    </div>

    <div class="infoboxheader">Participants</div>
    <div class="infoboxsection">
      <div><b>Number of entries</b></div>
      <div>{{entries}}</div>
    </div>

    <div class="infoboxheader"><a routerLink="/contest/{{id}}">{{con.name}}</a></div>
    <div style="display: flex; justify-content: center;">
      <span *ngIf="preved.length">
        <a routerLink="/contest/{{id}}/ed/{{preved}}" (click)="updateData(preved)">◄ {{preved}}</a>
        &nbsp;&nbsp;•&nbsp;&nbsp;
      </span>
      <b>{{edition.edition}}</b>
      <span *ngIf="nexted.length">&nbsp;&nbsp;•&nbsp;&nbsp;
        <a routerLink="/contest/{{id}}/ed/{{nexted}}" (click)="updateData(nexted)">{{nexted}} ►</a>
      </span>
    </div>
  </div>

  <b>{{con.name}} {{num}}</b> is the <span [innerHTML]="numToRankString(edition.edval)"></span>
  edition of <a routerLink="/contest/{{id}}">{{con.name}}</a>.

  <div *ngFor="let phase of edition.phases; index as p">
    <div class="sectionheader">
      <h2>{{phase.name}}<ng-container *ngIf="phase.num > 1">s</ng-container>
      </h2>
      <hr />
    </div>
    <div *ngFor="let num of [].constructor(phase.num); index as i">
      <h3>{{phase.name}}<ng-container *ngIf="phase.num > 1"> {{i + 1}}</ng-container>
      </h3>

      <ng-container *ngIf="songtablesbyphase.length">
        <table matSort (matSortChange)="sortData($event, p, i)">
          <tr>
            <th mat-sort-header="draw">Draw</th>
            <th mat-sort-header="country">Country</th>
            <th mat-sort-header="user">User</th>
            <th mat-sort-header="language">Language</th>
            <th mat-sort-header="artist">Artist</th>
            <th mat-sort-header="song">Song</th>
            <th mat-sort-header="place">Place</th>
            <th mat-sort-header="points">Points</th>
          </tr>
          <ng-container *ngFor="let song of songtablesbyphase[p][i]">
            <tr [ngStyle]="getRowStyle(p, song.dqphase, song.draws[p].place, song.draws[p].qualifier)">
              <td>{{song.draws[p].ro}}</td>
              <td><img class="flag" src="./assets/flags/{{song.country}} Flag.png"> <a
                  routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a></td>
              <td><a routerLink="/contest/{{id}}/user/{{song.user}}">{{song.user}}</a></td>
              <td>{{song.language}}</td>
              <td>{{song.artist}}</td>
              <td>"{{song.song}}"</td>
              <ng-container *ngIf="song.dqphase !== p">
                <ng-container *ngIf="song.draws[p].place !== -1">
                  <td>{{song.draws[p].place}}</td>
                  <td>{{song.draws[p].points}}</td>
                </ng-container>
                <ng-container *ngIf="song.draws[p].place === -1">
                  <td></td>
                  <td></td>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="song.dqphase === p">
                <td class="dqrow" colspan="2" [innerHTML]="getDQReason(song.dqreason)"></td>
              </ng-container>
            </tr>
          </ng-container>
        </table>
      </ng-container>
    </div>
  </div>

  <div class="sectionheader">
    <h2>Scoreboard<ng-container *ngIf="edition.phases.length > 1">s</ng-container>
    </h2>
    <hr />
  </div>

  <ng-container *ngFor="let phase of edition.phases; index as p">
    <div *ngFor="let final of votersbyphase[p]; index as f">
      <h3>{{phase.name}}<ng-container *ngIf="phase.num > 1"> {{f + 1}}</ng-container>
      </h3>

      <h4 *ngIf="phase.cv">Internal Votes</h4>

      <div [ngClass]="{'pointtableflex': phase.cv}">
        <ng-containter *ngIf="phase.cv">
          <table class="pointtotaltable">
            <tr>
              <th colspan="5">Semi-final {{f + 1}}</th>
            </tr>
            <tr>
              <th>Place</th>
              <th>Country</th>
              <th>Internal</th>
              <th>External</th>
              <th>Total</th>
            </tr>
            <ng-container *ngFor="let song of pointtablesbyphase[p][f]">
              <tr [ngStyle]="getPointStyle(song, p)" *ngIf="song.draws[p].place !== -1">
                <td>{{song.draws[p].place}}</td>
                <td>
                  <img class="flag" src="./assets/flags/{{song.country}} Flag.png">
                  <a routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a>
                </td>
                <td>{{song.draws[p].intpoints}}</td>
                <td>{{song.draws[p].extpoints}}</td>
                <td>{{song.draws[p].points}}</td>
              </tr>
            </ng-container>
          </table>
        </ng-containter>

        <div style="overflow-x: auto; max-width: 100%;">
          <table class="sfpointtable">
            <tr>
              <th></th>
              <th *ngFor="let voter of votersbyphase[p][f]">
                <a routerLink="/contest/{{id}}/country/{{voter.country}}">
                  <img class="smallflag" src="./assets/flags/{{voter.country}} Flag.png">
                </a>
              </th>
              <th>Total</th>
              <th>Place</th>
            </tr>
            <tr *ngFor="let song of songsbyphase[p][f]" [ngStyle]="getPointStyle(song, p)">
              <td><b>{{song.country}}</b></td>
              <ng-container *ngFor="let voter of votersbyphase[p][f]">
                <td [ngStyle]="(voter.country == song.country) ? { 'background-color': '#aaa' } : { }"
                  [innerHTML]="getPoints(voter, song.country, p, f)"></td>
              </ng-container>
              <ng-container *ngIf="song.draws[p].place != -1; else emptyFScoreboard">
                <td *ngIf="!phase.cv">{{song.draws[p].points}}</td>
                <td *ngIf="phase.cv">{{song.draws[p].intpoints}}</td>
                <td>{{song.draws[p].place}}</td>
              </ng-container>
              <ng-template #emptyFScoreboard>
                <td></td>
                <td></td>
              </ng-template>
            </tr>
          </table>
        </div>
      </div>

      <br />

      <div *ngIf="phase.cv">
        <h4>Cross-Votes</h4>

        <table class="sfpointtable">
          <tr>
            <th></th>
            <th *ngFor="let voter of crossvotersbyphase[p][f]">
              <a routerLink="/contest/{{id}}/country/{{voter.country}}">
                <img class="smallflag" src="./assets/flags/{{voter.country}} Flag.png">
              </a>
            </th>
            <th>Raw Total</th>
            <th>Scaled Total</th>
            <th>Place</th>
          </tr>
          <tr *ngFor="let song of songsbyphase[p][f]" [ngStyle]="getPointStyle(song, p)">
            <td><b>{{song.country}}</b></td>
            <ng-container *ngFor="let voter of crossvotersbyphase[p][f]">
              <td [ngStyle]="(voter.country == song.country) ? { 'background-color': '#aaa' } : { }"
                [innerHTML]="getPoints(voter, song.country, p, f)"></td>
            </ng-container>
            <ng-container *ngIf="song.draws[p].place != -1; else emptyFScoreboard">
              <td>{{song.draws[p].rawextpoints}}</td>
              <td>{{song.draws[p].extpoints}}</td>
              <td>{{song.draws[p].place}}</td>
            </ng-container>
            <ng-template #emptyFScoreboard>
              <td></td>
              <td></td>
              <td></td>
            </ng-template>
          </tr>
        </table>
        <br/>
      </div>
    </div>
  </ng-container>

  <textarea #song></textarea>

  <button (click)="uploadSong(song.value)">Click me</button>
  <!-- <button (click)="deleteSongs(song.value)">Delete</button> -->

</div>