<!-- Start Screen html file -->

<div class="container">

  <h1>{{con.name}} {{num}}</h1>
  <hr />

  <div class="infobox">
    <div class="infoboxheader">
      {{con.name}} {{num}}
      <br />
      <i>"{{edition.slogan}}"</i>
    </div>

    <img class="edlogo" src="./assets/logos/{{num}}.png">

    <div class="infoboxheader">Host</div>
    <div class="infoboxsection">
      <div><b>Host country</b></div>
      <div><img class="flag" src="./assets/flags/{{edition.hostcountry}} Flag.png"> <a
          routerLink="/contest/{{id}}/country/{{edition.hostcountry}}">{{edition.hostcountry}}</a></div>
    </div>
    <div class="infoboxsection">
      <div><b>Host</b></div>
      <div><a routerLink="/contest/{{id}}/user/{{edition.hostuser}}">{{edition.hostuser}}</a></div>
    </div>

    <div class="infoboxheader">Participants</div>
    <div class="infoboxsection">
      <div><b>Number of entries</b></div>
      <div>{{edition.entries}}</div>
    </div>
  </div>

  <span>
    <a routerLink="/">
      test
    </a>
  </span>

  <div class="sectionheader">
    <h2>Semi-finals</h2>
    <hr />
  </div>

  <h3>Semi-final 1</h3>

  <table matSort (matSortChange)="sortData($event, '1')">
    <tr>
      <th mat-sort-header="draw">Draw</th>
      <th mat-sort-header="country">Country</th>
      <th mat-sort-header="user">User</th>
      <th mat-sort-header="language">Language</th>
      <th mat-sort-header="artist">Artist</th>
      <th mat-sort-header="song">Song</th>
      <th mat-sort-header="place">Place</th>
      <th mat-sort-header="points">Points</th>
    </tr>
    <ng-container *ngFor="let song of sf1songs">
      <tr [ngStyle]="getSFStyle(song.disqualified, song.qualifier)">
        <td>{{song.sfro}}</td>
        <td><img class="flag" src="./assets/flags/{{song.country}} Flag.png"> <a
            routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a></td>
        <td><a routerLink="/contest/{{id}}/user/{{song.user}}">{{song.user}}</a></td>
        <td>{{song.language}}</td>
        <td>{{song.artist}}</td>
        <td>"{{song.song}}"</td>
        <ng-container *ngIf="song.disqualified != 'SFDQ' && song.disqualified != 'SFWD'">
          <td>{{song.sfplace}}</td>
          <td>{{song.sfpoints}}</td>
        </ng-container>
        <ng-container *ngIf="song.disqualified == 'SFDQ'">
          <td class="dqrow" colspan="2">Disqualified</td>
        </ng-container>
        <ng-container *ngIf="song.disqualified == 'SFWD'">
          <td class="dqrow" colspan="2">Withdrawn</td>
        </ng-container>
      </tr>
    </ng-container>
  </table>

  <h3>Semi-final 2</h3>

  <table matSort (matSortChange)="sortData($event, '2')">
    <tr>
      <th mat-sort-header="draw">Draw</th>
      <th mat-sort-header="country">Country</th>
      <th mat-sort-header="user">User</th>
      <th mat-sort-header="language">Language</th>
      <th mat-sort-header="artist">Artist</th>
      <th mat-sort-header="song">Song</th>
      <th mat-sort-header="place">Place</th>
      <th mat-sort-header="points">Points</th>
    </tr>
    <ng-container *ngFor="let song of sf2songs">
      <tr [ngStyle]="getSFStyle(song.disqualified, song.qualifier)">
        <td>{{song.sfro}}</td>
        <td><img class="flag" src="./assets/flags/{{song.country}} Flag.png"> <a
            routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a></td>
        <td><a routerLink="/contest/{{id}}/user/{{song.user}}">{{song.user}}</a></td>
        <td>{{song.language}}</td>
        <td>{{song.artist}}</td>
        <td>"{{song.song}}"</td>
        <ng-container *ngIf="song.disqualified != 'SFDQ' && song.disqualified != 'SFWD'">
          <td>{{song.sfplace}}</td>
          <td>{{song.sfpoints}}</td>
        </ng-container>
        <ng-container *ngIf="song.disqualified == 'SFDQ'">
          <td class="dqrow" colspan="2">Disqualified</td>
        </ng-container>
        <ng-container *ngIf="song.disqualified == 'SFWD'">
          <td class="dqrow" colspan="2">Withdrawn</td>
        </ng-container>
      </tr>
    </ng-container>
  </table>

  <h3>Semi-final 3</h3>

  <table matSort (matSortChange)="sortData($event, '3')">
    <tr>
      <th mat-sort-header="draw">Draw</th>
      <th mat-sort-header="country">Country</th>
      <th mat-sort-header="user">User</th>
      <th mat-sort-header="language">Language</th>
      <th mat-sort-header="artist">Artist</th>
      <th mat-sort-header="song">Song</th>
      <th mat-sort-header="place">Place</th>
      <th mat-sort-header="points">Points</th>
    </tr>
    <ng-container *ngFor="let song of sf3songs">
      <tr [ngStyle]="getSFStyle(song.disqualified, song.qualifier)">
        <td>{{song.sfro}}</td>
        <td><img class="flag" src="./assets/flags/{{song.country}} Flag.png"> <a
            routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a></td>
        <td><a routerLink="/contest/{{id}}/user/{{song.user}}">{{song.user}}</a></td>
        <td>{{song.language}}</td>
        <td>{{song.artist}}</td>
        <td>"{{song.song}}"</td>
        <ng-container *ngIf="song.disqualified != 'SFDQ' && song.disqualified != 'SFWD'">
          <td>{{song.sfplace}}</td>
          <td>{{song.sfpoints}}</td>
        </ng-container>
        <ng-container *ngIf="song.disqualified == 'SFDQ'">
          <td class="dqrow" colspan="2">Disqualified</td>
        </ng-container>
        <ng-container *ngIf="song.disqualified == 'SFWD'">
          <td class="dqrow" colspan="2">Withdrawn</td>
        </ng-container>
      </tr>
    </ng-container>
  </table>


  <div class="sectionheader">
    <h2>Grand final</h2>
    <hr />
  </div>

  <table matSort (matSortChange)="sortData($event, 'f')">
    <tr>
      <th mat-sort-header="draw">Draw</th>
      <th mat-sort-header="country">Country</th>
      <th mat-sort-header="user">User</th>
      <th mat-sort-header="language">Language</th>
      <th mat-sort-header="artist">Artist</th>
      <th mat-sort-header="song">Song</th>
      <th mat-sort-header="place">Place</th>
      <th mat-sort-header="points">Points</th>
    </tr>
    <ng-container *ngFor="let song of gfsongs">
      <tr [ngStyle]="getFStyle(song.fplace, song.disqualified)">
        <td>{{song.fro}}</td>
        <td><img class="flag" src="./assets/flags/{{song.country}} Flag.png"> <a
            routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a></td>
        <td><a routerLink="/contest/{{id}}/user/{{song.user}}">{{song.user}}</a></td>
        <td>{{song.language}}</td>
        <td>{{song.artist}}</td>
        <td>"{{song.song}}"</td>
        <ng-container *ngIf="song.disqualified == 'N'">
          <td>{{song.fplace}}</td>
          <td>{{song.fpoints}}</td>
        </ng-container>
        <ng-container *ngIf="song.disqualified == 'FDQ'">
          <td class="dqrow" colspan="2">Disqualified</td>
        </ng-container>
        <ng-container *ngIf="song.disqualified == 'FWD'">
          <td class="dqrow" colspan="2">Withdrawn</td>
        </ng-container>
      </tr>
    </ng-container>
  </table>

  <div class="sectionheader">
    <h2>Scoreboard</h2>
    <hr />
  </div>

  <h3>Grand final</h3>

  <table class="pointtable">
    <tr>
      <th></th>
      <th *ngFor="let voter of nonDQ">
        <a routerLink="/contest/{{id}}/country/{{voter.country}}">
          <img class="smallflag" src="./assets/flags/{{voter.country}} Flag.png">
        </a>
      </th>
      <th>Total</th>
      <th>Place</th>
    </tr>
    <tr *ngFor="let song of sbgfsongs" [ngStyle]="getFPointStyle(song)">
      <td><b>{{song.country}}</b></td>
      <ng-container *ngFor="let voter of nonDQ">
        <td [ngStyle]="(voter.country == song.country) ? { 'background-color': '#aaa' } : { }"
          [innerHTML]="getFPoints(voter, song.country)"></td>
      </ng-container>
      <ng-container *ngIf="song.fplace != -1; else emptyFScoreboard">
        <td>{{song.fpoints}}</td>
        <td>{{song.fplace}}</td>
      </ng-container>
      <ng-template #emptyFScoreboard>
        <td></td>
        <td></td>
      </ng-template>
    </tr>
  </table>

  <textarea #song></textarea>

  <button (click)="uploadSong(song.value)">Click me</button>


</div>