.container {
	margin: 2vw;
}

th, td {
	padding: 3px 7px 3px 7px;
}

th {
	background-color: #dadada;
	cursor: pointer;
}

table, th, td {
	border: 1px solid gray;
	border-collapse: collapse;
	font-family: "Verdana", "Trebuchet MS";
	font-size: 13px;
}

.infobox {
	width: 325px;
	border: 1px solid gray;
	float: right;
	background-color: #f5f5f5;
	margin-left: 15px;
}

.infoboxheader {
	background-color: lightblue;
	text-align: center;
	font-weight: bold;
	margin: 4px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.flag {
	width: 23px;
	height: auto;
	border: 1px solid white;
	margin-right: 3px;
	vertical-align: bottom;
}

.edlogo {
	width: 315px;
	height: auto;
	margin-left: 5px;
}

.infoboxheader i {
	font-size: 13px;
}

h2 {
	margin-bottom: -8px;
}