.container {
	margin: 0px 30px 0px 30px;
}

th, td {
	padding: 3px 7px 3px 7px;
}

th {
	background-color: #dadada;
	cursor: pointer;
	text-align: center;
}

table, th, td {
	border: 1px solid gray;
	border-collapse: collapse;
	/* font-family: "Verdana", "Trebuchet MS"; */
	font-size: 14px;
}

.infobox {
	width: 315px;
	border: 1px solid gray;
	float: right;
	background-color: #f5f5f5;
	margin-left: 15px;
	padding: 5px 5px 5px 5px
}

.infoboxheader {
	background-color: lightblue;
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}

.infoboxheader i {
	font-size: 13px;
}

.infoboxsection {
	display: flex;
	flex-wrap: nowrap;
}

.infoboxsection> div {
  min-width: 45%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.flag {
	width: 23px;
	height: auto;
	border: 1px solid white;
	margin-right: 3px;
	vertical-align: bottom;
}

.smallflag {
	width: 20px;
	height: auto;
}

.edlogo {
	width: 315px;
	height: auto;
}

h2 {
	margin-bottom: -8px;
}

::ng-deep .mat-sort-header-container {
	display:flex;
	justify-content:center;
}

.dqrow {
	background-color: #dedede;
	text-align: center;
}

.pointtable td {
	font-size: 12px;
}