<div class="container">
	<h1>Import your XLSX Master Sheet here!</h1>
	<button type="button" mat-raised-button (click)="fileInput.click()" color="accent">Choose File</button>
	<input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
	<button type="button" mat-raised-button (click)="uploadSongs()" color="accent">Upload Songs</button>

	<div *ngFor="let semi of semiSongs; index as s">
		<h1>Semi {{s + 1}}</h1>

		<table>
			<thead>
				<th>R/O</th>
				<th>Country</th>
				<th>User</th>
				<th>Artist</th>
				<th>Song</th>
				<th>Place</th>
				<th>Points</th>
			</thead>
			<ng-container *ngFor="let song of semi">
				<tr [ngStyle]="getRowStyle(0, song.dqphase, song.draws[0].place, song.draws[0].qualifier)">
					<td>{{song.draws[0].ro}}</td>
					<td><a routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a></td>
					<td><a routerLink="/contest/{{id}}/user/{{song.user}}">{{song.user}}</a></td>
					<td>{{song.artist}}</td>
					<td>"{{song.song}}"</td>
					<td>{{song.draws[0].place}}</td>
					<td>{{song.draws[0].points}}</td>
				</tr>
			</ng-container>
		</table>
	</div>

	<h1>Grand Final</h1>

	<table>
		<thead>
			<th>R/O</th>
			<th>Country</th>
			<th>User</th>
			<th>Artist</th>
			<th>Song</th>
			<th>Place</th>
			<th>Points</th>
		</thead>
		<ng-container *ngFor="let song of finalSongs">
			<tr [ngStyle]="getRowStyle(1, song.dqphase, song.draws[1].place, song.draws[1].qualifier)">
				<td>{{song.draws[1].ro}}</td>
				<td><a routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a></td>
				<td><a routerLink="/contest/{{id}}/user/{{song.user}}">{{song.user}}</a></td>
				<td>{{song.artist}}</td>
				<td>"{{song.song}}"</td>
				<td>{{song.draws[1].place}}</td>
				<td>{{song.draws[1].points}}</td>
			</tr>
		</ng-container>
	</table>

	<div *ngFor="let semi of semiSongs; index as s">
		<h1>Semi {{s + 1}}</h1>

		<table>
			<thead>
				<th>R/O</th>
				<th>Country</th>
				<ng-container *ngFor="let voter of semi">
					<th *ngIf="voter.pointsets.length >= 1">
						<ng-container *ngIf="countryNames[voter.country]; else otherCode">
							{{countryNames[voter.country]}}
						</ng-container>
						<ng-template #otherCode>
							{{countries.getAlpha3Code(voter.country, "en")}}
						</ng-template>
					</th>
				</ng-container>
			</thead>
			<ng-container *ngFor="let song of semi">
				<tr *ngIf="song.pointsets.length >= 1" [ngStyle]="getPointStyle(song, 0)">
					<td>{{song.draws[0].ro}}</td>
					<td><a routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a></td>
					<ng-container *ngFor="let voter of semi">
						<td *ngIf="voter.pointsets.length >= 1"
							[ngStyle]="(voter.country == song.country) ? { 'background-color': '#aaa' } : { }"
							[innerHTML]="getPoints(voter, song.country, 0, s)">
						</td>
					</ng-container>
				</tr>
			</ng-container>
		</table>
	</div>

	<h1>Grand Final</h1>

	<div style="overflow-x: auto; max-width: 100%;">
		<table>
			<thead>
				<th>R/O</th>
				<th>Country</th>
				<ng-container *ngFor="let voter of allSongs">
					<th *ngIf="voter.pointsets.length == 2">
						<ng-container *ngIf="countryNames[voter.country]; else otherCode">
							{{countryNames[voter.country]}}
						</ng-container>
						<ng-template #otherCode>
							{{countries.getAlpha3Code(voter.country, "en")}}
						</ng-template>
					</th>
				</ng-container>
			</thead>
			<ng-container *ngFor="let song of finalSongs">
				<tr [ngStyle]="getPointStyle(song, 1)">
					<td>{{song.draws[1].ro}}</td>
					<td><a routerLink="/contest/{{id}}/country/{{song.country}}">{{song.country}}</a></td>
					<ng-container *ngFor="let voter of allSongs">
						<td *ngIf="voter.pointsets.length == 2"
							[ngStyle]="(voter.country == song.country) ? { 'background-color': '#aaa' } : { }"
							[innerHTML]="getPoints(voter, song.country, 1, 0)">
						</td>
					</ng-container>
				</tr>
			</ng-container>
		</table>
	</div>
</div>