<div style="padding: 10px;">
	<h1 style="text-align: center;">Pot Generator</h1>

	<div style="display: flex;">
		<div style="text-align: center;">
			<h3>Users</h3>
			<textarea style="height: 300px;" #users></textarea>
		</div>

		<div style="text-align: center;">
			<h3>Editions</h3>
			<textarea style="height: 300px;" #editions></textarea>
		</div>

		<div style="margin-left:10px;">
			<h2 style="text-align: center;">Pots:</h2>
			<div style="display:flex; flex-wrap: wrap;">
				<div *ngFor="let pot of potList; index as i">
					<h3 style="text-align: center;">Pot #{{i + 1}}</h3>
					<ul>
						<li *ngFor="let user of pot">
							{{user}}
							<!-- <a routerLink="/contest/{{id}}/user/{{user}}"></a> -->
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	Number of pots:
	<input type="number" [(ngModel)]="pots" min="1">

	<button (click)="generate(users.value, editions.value)">Generate</button>

	<div *ngIf="invalid.length">
		The following users were not found in the database and will be treated as debutants:
		<div *ngFor="let inv of invalid">
			{{inv}}
		</div>
	</div>

	<br />
</div>