<div class="container">
	<div class="card">
		<h1 style="text-align: center;">Login</h1>

		<form ng-form (ngSubmit)="loginUser()">
			<div style="display: flex; flex-direction: column; align-items: center;">
				<mat-form-field appearance="fill">
					<mat-label>Username/Email</mat-label>
					<input matInput type="text" autocomplete="username" [(ngModel)]="username" name="username" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput type="password" autocomplete="password" [(ngModel)]="password" name="password"
						required />
				</mat-form-field>
				<button mat-raised-button type="submit" color="primary">Login</button>
				<div style="margin-top: 10px">
					<a routerLink='/register'>Don't have an account?</a>
				</div>
			</div>
		</form>
	</div>
</div>