.container {
	padding-bottom: 30px;
}

h1 {
	font-size: 5vw;
	margin-top: 30px;
	text-align: center;
}

.flag {
	width: auto;
	height: 15px;
	margin-right: 5px;
	vertical-align: middle;
	box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, .7);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.logo {
	max-width: 50vw;
	width: auto;
	max-height: 15vw;
	height: auto;
}

.halfcontainer {
	width: 49%;
}

@media only screen and (max-width: 600px) {
	.halfcontainer {
		width: 100%;
		margin-bottom: 10px;
	}
}

.edlogo {
	max-width: 275px;
	width: auto;
	max-height: 275px;
	height: auto;
}

.logoBox {
	max-width: calc(100vw - 50px);
	width: 275px;
	text-align: center;
	font-weight: bold;
	margin: 10px;
	padding: 4px;
	border: 2px solid #ffa64d;
	border-radius: 7px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-color: #ffd9b3;
}

.logoBox:hover {
	cursor: pointer;
}

th, td {
	padding: 3px 7px 3px 7px;
}

th {
	background-color: #dadada;
	text-align: center;
}

table, th, td {
	border: 1px solid gray;
	border-collapse: collapse;
	/* font-family: "Verdana", "Trebuchet MS"; */
	font-size: 14px;
}