.container {
}

h1 {
	font-size: 5vw;
	margin-top: 30px;
	text-align: center;
}

.flag {
	width: 23px;
	height: auto;
	border: 1px solid lightgray;
	margin-right: 3px;
	vertical-align: bottom;
}

a {
	text-decoration: none;
}