<!-- Start Screen html file -->

<div class="container">
	
	<a routerLink="/contest/{{id}}">&#60; {{con.name}}</a>

	<h1>{{country}}</h1>
	<hr />
	<div class="infobox">
		<div class="infoboxheader">
			{{country}}
		</div>
		<div style="width: 100%;">
			<img src="./assets/flags/{{country}} Flag.png" style="width: 100%;">
		</div>
		<div class="infoboxheader">
			Appearances
		</div>
		<div class="infoboxsection">
			<div><b>Appearances</b></div>
			<div>{{numEntries}} ({{numQualifiers}} final<ng-container *ngIf="numQualifiers !== 1">s</ng-container>)
			</div>
		</div>
		<div class="infoboxsection">
			<div><b>Best Result</b></div>
			<div>{{bestPlace}}: <a routerLink="/contest/{{id}}/ed/{{bestEd}}">{{bestEd}}</a></div>
		</div>
		<div class="infoboxsection">
			<div><b>Worst Result</b></div>
			<div>{{worstPlace}}: <a routerLink="/contest/{{id}}/ed/{{worstEd}}">{{worstEd}}</a></div>
		</div>
	</div>

	<div class="sectionheader">
		<h2>Entries</h2>
		<hr />
	</div>

	<table matSort (matSortChange)="sortData($event, '1')">
		<tr>
			<th mat-sort-header="edition">Edition</th>
			<th mat-sort-header="user">User</th>
			<th mat-sort-header="language">Language</th>
			<th mat-sort-header="artist">Artist</th>
			<th mat-sort-header="song">Song</th>
			<th mat-sort-header="fplace">Final</th>
			<th mat-sort-header="fpoints">Points</th>
			<th mat-sort-header="sfplace">Semi</th>
			<th mat-sort-header="sfpoints">Points</th>
		</tr>
		<ng-container *ngFor="let song of songs">
			<tr [ngStyle]="getStyle(song.disqualified, song.qualifier, song.fplace)">
				<td><a routerLink="/contest/{{id}}/ed/{{song.edition}}">{{song.edition}}</a></td>
				<td><a routerLink="/contest/{{id}}/user/{{song.user}}">{{song.user}}</a></td>
				<td>{{song.language}}</td>
				<td>{{song.artist}}</td>
				<td>"{{song.song}}"</td>
				<ng-container *ngIf="song.disqualified == 'N' && song.qualifier !== 'NQ'">
					<ng-container *ngIf="song.fplace !== -1">
						<td>{{song.fplace}}</td>
						<td>{{song.fpoints}}</td>
					</ng-container>
					<ng-container *ngI Ff="song.fplace === -1">
						<td></td>
						<td></td>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="song.disqualified == 'FDQ' && (song.qualifier == Q || song.qualifier == AQ)">
					<td class="dqrow" colspan="2">Disqualified</td>
				</ng-container>
				<ng-container *ngIf="song.disqualified == 'FWD' && (song.qualifier == Q || song.qualifier == AQ)">
					<td class="dqrow" colspan="2">Withdrawn</td>
				</ng-container>
				<ng-container *ngIf="song.qualifier === 'NQ'">
					<td class="dqrow" colspan="2">Did not qualify</td>
				</ng-container>
				<ng-container *ngIf="(song.disqualified == 'N' || song.disqualified == 'FDQ' || 
						song.disqualified == 'FWD') && song.qualifier != 'AQ'">
					<ng-container *ngIf="song.sfplace !== -1">
						<td [ngStyle]="getSFStyle(song.sfplace)">{{song.sfplace}}</td>
						<td [ngStyle]="getSFStyle(song.sfplace)">{{song.sfpoints}}</td>
					</ng-container>
					<ng-container *ngIf="song.sfplace === -1">
						<td></td>
						<td></td>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="song.disqualified == 'SFDQ'">
					<td class="dqrow" colspan="2">Disqualified</td>
				</ng-container>
				<ng-container *ngIf="song.disqualified == 'SFWD'">
					<td class="dqrow" colspan="2">Withdrawn</td>
				</ng-container>
				<ng-container *ngIf="song.qualifier == 'AQ'">
					<td class="dqrow" colspan="2">Automatic qualifier</td>
				</ng-container>
			</tr>
		</ng-container>
	</table>
</div>