th, td {
	padding: 3px 7px 3px 7px;
}

th {
	background-color: #dadada;
	text-align: center;
}

table, th, td {
	border: 1px solid gray;
	border-collapse: collapse;
	/* font-family: "Verdana", "Trebuchet MS"; */
	font-size: 14px;
}

.container {
	margin: 0px 2vw;
	padding-top: 10px;
}
