<mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button aria-label="Home" *ngIf="link !== ''" routerLink="">
        <mat-icon>home</mat-icon>
    </button>
    <!-- <span>My App</span> -->
    <div style="max-height: 90%;" *ngIf="logo.length">
        <a [routerLink]="link"><img class="logo" src="{{logo}}"></a>
    </div>
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button> -->

    <button mat-icon-button class="profile-icon" aria-label="Profile">
        <mat-icon>account_circle</mat-icon>
    </button>

    <div class="dropdown">
        <div class="userBox" *ngIf="username.length || !authChecked">
            <mat-icon style="line-height: 18px; vertical-align: middle;">account_circle</mat-icon>
            {{username}}
            <mat-icon style="line-height: 18px; vertical-align: bottom; font-size: 30px; margin-left: -5px;">
                arrow_drop_down</mat-icon>
        </div>
        <div class="dropdown-content">
            <a (click)="logout()">Logout</a>
        </div>
    </div>

    <div class="loginButton" *ngIf="!username.length && authChecked">
        <button mat-raised-button color="primary" (click)="goToLogin()">Login</button>
    </div>

    <button mat-icon-button class="search-icon" aria-label="Search" *ngIf="link !== '' && link !== '/'">
        <mat-icon>search</mat-icon>
    </button>

    <div class="searchbox" *ngIf="link !== '' && link !== '/'">
        <mat-icon [ngStyle]="{'color':'#888'}">search</mat-icon>
        <mat-form-field style="margin-bottom: -7px;" appearance="none">
            <input type="text" matInput placeholder="Search" [(ngModel)]="searchval" (ngModelChange)="search()"
                (focus)="searching = true;" (blur)="hideSearch()">
        </mat-form-field>
    </div>

    <div style="position: absolute; right: 1vw; top: 60px;" *ngIf="searching">
        <ng-container *ngFor="let result of searchresults">
            <div class="searchresult" routerLink="/contest/{{contest}}/{{result.type}}/{{result.target}}">
                {{result.target}}
            </div>
        </ng-container>
    </div>
</mat-toolbar>

<div style="height: 75px;"></div>

<router-outlet></router-outlet>