<div class="container">
    <div class="card">
        <div *ngIf="stage === 'claims'"
            style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h1>Claim a Country</h1>
            <form (ngSubmit)="claimCountry()">
                <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Country" matInput
                        [formControl]="countryControl" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let country of filteredCountryOptions | async" [value]="country">
                            {{country}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="errorMsg.length">{{errorMsg}}</mat-error>
                </mat-form-field>

                <div style="display: flex; justify-content: center; margin-top: 5px;">
                    <button mat-raised-button type="submit" color="primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>